*                   text=auto

*.md                text
*.yml               text
*.txt               text
*.sh                text eol=lf
*.js                linguist-language=TypeScript
*.bat               -text
*.PNG               git-encoding=BINARY    working-tree-encoding=BINARY
*.jpg               git-encoding=BINARY    working-tree-encoding=BINARY
*.zip               git-encoding=BINARY    working-tree-encoding=BINARY
*.ico               git-encoding=BINARY    working-tree-encoding=BINARY
.gitattributes      export-ignore
.gitignore          export-ignore
*.yml               export-ignore
