# output
/.temp
/.tmp
/build
/dist
.cache

# misc
/connect.lock
/coverage/*
/report_*
/reports/
.sass-cache/
*.log
*~
*.orig
.vagrant
*.vsix

# VS Code
vscode/
typings/*
!typings/custom/
testing

# OSX
.DS_Store
.AppleDouble
.LSOverride
.localized

# Icon must end with two \r
Icon

# Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
